.box{
    border-left:5px solid #EEEFF5;
    border-top:5px solid #EEEFF5;
    border-bottom:5px solid #EEEFF5;
    margin-bottom : 10px ;
    padding:10px 10px;
}
.text {
    overflow: hidden;
    border: 0px solid rgb(211, 211, 211);
}
.smallField{
    width: 50px;
}
.selectionWidth{
    width: 204px;
}
.unit{
    line-height: 200%;
    margin-left: 25%;
}
.field{
    margin-top:2px;
    padding:0px;
    width:204px;
    height:60;
    resize:auto;
}
.horizontalBar {
    margin-top: 10px;
    padding-top: 5px;
}
.elementSpacing{
    margin-top: 5px;
}
.elementAlignment{
    margin-left:10px !important;
}
.elementCentering{
    display:flex;
    justify-content:center;
    align-items:center;
}
.positioning{
    display:flex;
    justify-content:start !important;
    align-items:center !important;
}

.styleWidget {
    fill: rgb(106, 106, 106);
    vertical-align: middle;
    margin: 0px 4px;
    font-size: 18px;
}

.preselectedWidget {
    fill: #222222;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}
