.box{
    border-left:5px solid #EEEFF5;
    border-top:5px solid #EEEFF5;
    border-bottom:5px solid #EEEFF5;
    margin-bottom : 10px ;
    padding:10px 10px;
}
.text {
    overflow: hidden;
    border: 0px solid rgb(211, 211, 211);
}
.smallField{
    width: 50px;
}
.field{
    margin-top:2px;
    padding:0px;
    width:90%;
    height:60;
    resize:auto;
}
.horizontalBar {
    margin-top: 10px;
    padding-top: 5px;
}
.elementCentering{
    display:flex;
    justify-content:center;
    align-items:center;
}

.styleWidget {
    fill: rgb(106, 106, 106);
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.preselectedWidget {
    fill: #222222;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}
