.box{
    border-left:5px solid #EEEFF5;
    border-top:5px solid #EEEFF5;
    border-bottom:5px solid #EEEFF5;
    margin-bottom : 10px ;
    padding:10px 10px;
}
.display {
    overflow: hidden;
    border: 0px solid rgb(211, 211, 211);
}
.field{
    width:80px;
    padding-right: 10px !important;
}
.symbol{
    font-size: 1.4em;
}
.elementCentering{
    display:flex;
    justify-content:center;
    align-items:center;
}

.options {
    overflow: hidden;
    margin-top: 10px;
}

.buttonLink {
    color: rgb(81, 81, 81);
    text-decoration: none;
    display: block;
    padding: 2px 0px;
}
