.right {
    width: 250px;
    overflow: hidden auto;
    max-height: 100vh;
}

.rightPanel {
    position: relative;
    width: 240px;
    padding: 0px 5px 6px;
    font-family: "Lucida Grande", sans-serif;
    font-size: 14px;
}