.box{
    border-left:5px solid #EEEFF5;
    border-top:5px solid #EEEFF5;
    border-bottom:5px solid #EEEFF5;
    margin-bottom : 10px ;
    padding:10px 10px;
}
.disposition {
    overflow: hidden;
    border: 0px solid rgb(211, 211, 211);
}
.iconSize{
    font-size: 18px;
}
.elementCentering{
    display:flex;
    justify-content:start;
    align-items:center;
}
.labelPositioning{
    display:flex;
    justify-content:start;
    align-items:center;
}
.optionLink {
    color: rgb(81, 81, 81);
    text-decoration: none;
    display: block;
    padding: 2px 0px;
}
