.box{
    border-left:5px solid #EEEFF5;
    border-top:5px solid #EEEFF5;
    border-bottom:5px solid #EEEFF5;
    margin-bottom : 10px ;
    padding:10px 10px;
}
.transform {
    border: 0px solid rgb(211, 211, 211);
}
.spacing{
    flex-direction: column;
    align-content: space-between;
}
.distance{
    margin: 10px 0;
}
.sublabel{
    width: 57px;
    text-align: center !important;
    position: absolute;
    margin-top: 35px !important;
}
.boxArea {
    float: left;
    margin-right: 5px;
}
.elementCentering{
    display:flex;
    justify-content:center;
    align-items:center;
}
.elementStart{
    display:flex;
    justify-content:start;
    align-items:center;
}